#### Imputation Method: 
One of the way to deal with missing values is to use imputation method. Imputation method is used to input value for the missing value.

Common ways to impute:
    1. Impute the mean of a column
    2. When working with categorical data, then use the mode  of the column
    3. Use knn to impute values based on features that are most similar.

#### Working with example

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'A':[np.nan, 2, np.nan, 0, 7, 10, 15],
                   'B':[3, 4, 5, 1, 2, 3, 5],
                   'C':[np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan],
                   'D':[np.nan, True, np.nan, False, True, False, np.nan],
                   'E':['Yes', 'No', 'Maybe', np.nan, np.nan, 'Yes', np.nan]})

In [4]:
df

      A  B   C      D      E
0   NaN  3 NaN    NaN    Yes
1   2.0  4 NaN   True     No
2   NaN  5 NaN    NaN  Maybe
3   0.0  1 NaN  False    NaN
4   7.0  2 NaN   True    NaN
5  10.0  3 NaN  False    Yes
6  15.0  5 NaN    NaN    NaN

Looking at the columns column C has to be dropped. As this column contains relatively more null value. And it is not appropriate for further process.

In [5]:
new_df = df.drop('C', axis=1)

In [22]:
fill_mean = lambda col: col.fillna(col.mean())

try:
    new_df.apply(fill_mean=0)
except: 
    print("Column E is a string")

Column E is a string

Column E is a categorical variable, so now we have to use mode to deal with categegorical variable.

Using mode for categorical variable

In [23]:

new_df[['A', 'B']].apply(fill_mean, axis=0)
new_df

fill_mode = lambda col: col.fillna(col.mode()[0])
new_df.apply(fill_mode, axis=0)

      A  B      D      E
0   0.0  3  False    Yes
1   2.0  4   True     No
2   0.0  5  False  Maybe
3   0.0  1  False    Yes
4   7.0  2   True    Yes
5  10.0  3  False    Yes
6  15.0  5  False    Yes

### Solving question

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('data/survey_results_public.csv')
schema = pd.read_csv('data/survey_results_schema.csv')

#### Question 1:
We will use CousinEducation field. Wrtie a function called get_description that takes the schema dataframe and the column as a string, and returns a string of the description for the column.

In [ ]:
def get_description(column_name, schema=schema):
    """
    INPUT:
    column_name - dataframe - pandas dataframe with schema of developer survey
    schema - string - the name of the column you would like to know about
    
    OUTPUT:
    desc - string - the description of the column
    """
    
    desc = list(schema[schema['Column'] === column_name]['Question'])[0]
    return desc